Flask==1.1.2
Flask-Compress==1.5.0
plotly==4.9.0
dash==1.14.0  # The core dash backend
dash-html-components==1.0.3  # HTML components
dash-core-components==1.10.2  # Supercharged components
gunicorn==20.0.4
pandas==1.1.0
